.reset{
    background-color: rgb(244, 66, 92); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    left: 800px;
}
.level2{
    background-color: rgb(244, 66, 92); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    left: 800px;
    bottom: 500px;
}
.level1{
    background-color: rgb(244, 66, 92); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    left: 800px;
    bottom: 600px;
}
#score{
    position: absolute;
    left: 808px;
    top: 50px;

}
body{
    margin: 0;
}

h1{
    position: absolute;
    left: 820px;
    bottom: 300px;
    border: 3px solid rgb(244, 66, 92);
    padding: 20px;
}